/* Fundo da tela */
body {
  width: 100%;
  background-color: #DEDCDC; /* cinza claro */
  font-family: 'Righteous', sans-serif;
}

/* Container principal */
.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Card central */
.login-card {
  background-color: #e5e5e5; /* cinza médio */
  padding: 40px 30px;
  border-radius: 50px;
  width: 350px;
  box-shadow: 0 4px 50px rgba(0,0,0,0.1);
}

/* Logo */
.logo {
  max-width: 150px;
}

/* Inputs */
.form-control {
  border-radius: 25px;
  padding: 10px 15px;
  border: none;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  width: 80%;
}

/* Botão de login */
.btn-login {
  background-color: #ff6101; /* laranja */
  border-radius: 25px;
  padding: 10px;
  font-weight: bold;
  color: black;
  border: none;
  transition: 0.3s;
  width: 15%;

}

.btn-login:hover {
  background-color: #ff6101;
}

/* Esqueci minha senha */
.forgot-password {
  display: block;
  color: #333;
  font-size: 0.9rem;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

/* Rodapé */
.version-text {
  font-size: 0.8rem;
  color: #999;
}